{% load staticfiles otree_tags %}
P CODE:: {{ participant.code }}

<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/tracking_channel/{{ participant.code }}/{{ group.pk }}");

    // Handle any errors that occur.
    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
    };
    // Show a connected message when the WebSocket is opened.
    socket.onopen = function (event) {
        console.log('connected to oTree');
        var msg = {
                'player_pk': {{player.pk}},
            };
            if (socket.readyState === socket.OPEN) {

                socket.send(JSON.stringify(msg));
            }
            ;
    };
    // Handle messages sent by the server.

    ;
    socket.onclose = function (event) {
        console.log('disconnected from oTree');
    };
</script>
