{% load staticfiles otree_tags %}
P CODE:: {{ participant.code }}

<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/wp_channel/{{ group.pk }}");

    // Handle any errors that occur.
    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
    };
    // Show a connected message when the WebSocket is opened.
    socket.onopen = function (event) {
        console.log('connected to oTree');
    };
    socket.onmessage = function (event) {
        var obj = jQuery.parseJSON(event.data);
        if (obj.group_has_dropouts == 'yes') {
            location.reload();
        }
    };

    ;
    socket.onclose = function (event) {
        console.log('disconnected from oTree');
    };
</script>
